@use "./abstracts/" as abstracts;
@use "./base/" as base;
@use "./components/" as components;
@use "./layout/" as layout;
@use "./pages/" as pages;

body {
  max-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background: rgb(56, 61, 65, 20);
  background: linear-gradient(145deg, rgba(111, 230, 227, 1) 0%, rgba(122, 97, 227, 1) 51%, rgba(215, 94, 181, 1) 100%),
    radial-gradient(circle, rgba(56, 61, 65, 1) 0%, rgba(9, 12, 17, 1) 100%);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-blend-mode: soft-light;

  color: abstracts.$primary-light;
}

main {
  padding: abstracts.$default-page-margin 100px;
  height: fit-content;
  flex: 1;
}

main.sidebar-main {
  display: inline-flex;
  padding: 0;
}

@media only screen and (max-width: abstracts.$large-width) {
  main {
    padding: 20px;
  }
}

@media only screen and (max-width: abstracts.$medium-width) {
  main.sidebar-main {
    display: flex;
    flex-direction: column;
  }
}
