@use "sass:map";

@use "../abstracts/" as abstracts;

header {
  background-color: abstracts.$primary-dark;
  width: 100%;
  max-width: 100%;
  padding: 10px 20px;

  display: grid;
  grid-template-columns: max-content auto auto max-content;
  gap: 40px;

  box-shadow: abstracts.$default-shadow;

  color: abstracts.$primary-light;

  a {
    padding: 3px 0px;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 4px;
    grid-column: 1;
    grid-row: 1;
  }

  .main-nav {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    max-width: 400px;
  }

  .sub-nav-wide,
  .sub-nav-narrow {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 40px;

    a {
      line-height: 1;
    }
  }

  .sub-nav-narrow {
    display: none;
  }

  // Placeholder
  .searchbar {
    max-width: 600px;
    position: relative;
    border-radius: 40px;
    background-color: rgba(abstracts.$primary-light, 0.1);
    flex: 1;
    display: flex;

    button:focus,
    input:focus {
      outline: 0;
    }

    button:focus-visible {
      outline: 1px rgba(abstracts.$primary-light, 0.25) solid;
    }
  }

  .searchbar-input {
    width: calc(100% - 30px);
    padding: 0px 20px;
    background-color: transparent;
    border: 0;
    color: abstracts.$primary-light;
    border-radius: 20px 4px 4px 20px;
  }

  .searchbar-input::placeholder {
    color: abstracts.$primary-light;
    opacity: 25%;
  }

  .searchbar:focus-within {
    outline: 1px rgba(abstracts.$primary-light, 0.25) solid;
  }

  .searchbar:has(button:focus) {
    outline: 0;
  }

  .searchbar-icon {
    color: map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
  }

  .searchbar > button {
    border-radius: 4px 20px 20px 4px;
  }
}

@media only screen and (max-width: abstracts.$large-width) {
  header {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .main-nav,
    .sub-nav-wide {
      display: none;
    }

    .searchbar {
      width: 100%;
    }

    .sub-nav-narrow {
      display: flex;
      justify-content: right;
      max-width: 50px;
    }
  }
}
