@use "sass:map";
@use "../abstracts" as abstracts;

.admin-panel-content {
  flex: 1;
  padding: 40px 60px;
}

// Searchbar
.admin-searchbar {
  max-width: 200px;
  position: relative;
  border-radius: 40px;
  flex: 1;
  display: flex;
  margin-bottom: 10px;

  button:focus,
  input:focus {
    outline: 0;
    border: 0;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px 20px;
    background-color: abstracts.$primary-grey;
    border: 0;
    color: abstracts.$primary-light;
    border-radius: 20px;
  }

  input[type="text"]::placeholder {
    color: abstracts.$primary-light;
    opacity: 25%;
  }

  input[type="text"]:focus-within {
    outline: 2px solid map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
  }
}

// List of users
.admin-panel-user-wrapper {
  background-color: abstracts.$primary-grey;
  border-radius: abstracts.$default-border-radius;
  box-shadow: abstracts.$default-shadow;
}

.admin-panel-user-list {
  display: flex;
  border-bottom: 1px solid abstracts.$primary-darkgrey;
  padding: 10px 20px;
  width: 100%;
  gap: 20px;
}

.admin-panel-review-paragraph {
  cursor: pointer;
  color: map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
}

.admin-panel-user-data {
  display: grid;
  grid-template-columns: 90px 350px 300px;
  gap: 20px;

  & > * {
    align-content: center;
    min-width: fit-content;
  }

  .username-and-email {
    word-break: break-all;

    .username {
      font-weight: 600;
    }
  }

  svg {
    min-width: 80px;
    height: auto;
    stroke-width: 1.5px;
  }

  .suspended {
    color: map.get(map.get(abstracts.$highlight-colors, "pink"), "default");
  }

  .active {
    color: map.get(map.get(abstracts.$highlight-colors, "cyan"), "default");
  }
}

.admin-panel-user-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;

  *:not(button) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    max-width: 125px;

    button {
      width: 100%;
    }
  }

  button {
    width: 125px;
    margin: 0;
    text-wrap: nowrap;
  }
}

@media only screen and (max-width: 1400px) {
  .admin-panel-user-list {
    gap: 0px;
  }

  .admin-panel-user-data {
    grid-template-columns: 90px 150px 200px;
  }

  .admin-panel-user-buttons {
    display: grid;
  }
}

@media only screen and (max-width: abstracts.$large-width) {
  .admin-panel-content {
    padding: 20px;
  }

  .admin-panel-user-data {
    grid-template-columns: 90px 150px 200px;
  }

  .admin-panel-user-buttons {
    justify-content: center;
  }
}

@media only screen and (max-width: abstracts.$medium-width) {
  .admin-panel-user-list {
    display: flex;
    align-items: center;
  }

  .admin-panel-user-data {
    display: grid;
    grid-template-columns: 1fr;
    min-width: 50%;
    align-items: center;
    text-align: center;
    gap: 0;
  }
}

// Sidebar
.admin-panel-sidebar {
  display: grid;
  grid-template-columns: 1fr;

  *:not(.active-admin-link) {
    padding-left: 15px;
  }

  & > * {
    border-bottom: 1px solid abstracts.$primary-darkgrey;
    padding: 10px;
    width: 100px;
  }

  $total-colors: length(abstracts.$highlight-colors);

  @for $i from 1 through $total-colors {
    $color: nth(map-keys(abstracts.$highlight-colors), $i);
    $default-color: map-get(map-get(abstracts.$highlight-colors, $color), default);

    .active-admin-link:nth-child(#{$total-colors}n + #{$i}) {
      border-left: 5px solid $default-color;
    }
  }
}

@media only screen and (max-width: abstracts.$medium-width) {
  .admin-panel-sidebar {
    display: flex;
    width: 100%;

    & > * {
      flex: 1;
      border-bottom: 0;
      border-right: 1px solid abstracts.$primary-darkgrey;
    }
  }
}

.admin-panel-status-suspended {
  color: map.get(map.get(abstracts.$highlight-colors, "pink"), "default");
}

.admin-panel-status-active {
  color: map.get(map.get(abstracts.$highlight-colors, "cyan"), "default");
}

.admin-panel-report-label {
  display: none;
}

.admin-panel-reports-grid {
  min-width: fit-content;
  display: grid;
  grid-template-columns: 75px 1fr 1fr 1fr 2fr 125px;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0px;
  gap: 10px;
}

.admin-panel-reports-grid:not(:last-child) {
  border-bottom: 1px solid abstracts.$primary-darkgrey;
}

.admin-panel-section-header {
  display: grid;
  grid-template-columns: 75px 1fr 1fr 1fr 2fr 125px;
  min-width: fit-content;
  justify-content: space-around;
  gap: 10px;
}

.admin-panel-report-content {
  word-wrap: break-word;
  min-width: 100%;

  .description {
    margin: 0;
  }
}

.report-buttons {
  display: grid;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;

  * {
    width: 125px;
    margin: 0;
  }
}

.admin-panel-reports {
  @media only screen and (max-width: abstracts.$large-width) {
    .report-buttons {
      display: inline-flex;

      * {
        max-width: 125px;

        button {
          min-width: 100%;
        }
      }

      button {
        min-width: 125px;
      }
    }

    .admin-panel-reports-grid {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      align-items: flex-start;
    }

    .report-description {
      grid-area: 2 / 1 / 2 / 5;
    }

    input {
      margin: 0;
    }

    .admin-panel-report-content {
      word-wrap: break-word;
      min-width: 90%;
    }

    .description {
      grid-column: 1 / span 4;

      label {
        text-align: left;
      }

      p {
        text-align: left;
      }
    }

    .section-header {
      display: none;
    }

    .admin-panel-report-label {
      display: block;
      font-size: abstracts.$h5-font-size;
      font-weight: 400;
    }
  }
}
.admin-panel-reports {
  @media only screen and (max-width: abstracts.$medium-width) {
    .admin-panel-reports-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .report-description {
      grid-area: 3 / 1 / 3 / 3;
    }
  }
}
