@use "sass:map";
@use "../abstracts" as abstracts;

.list {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list-title {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;

    .movie-amount {
      color: map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
      font-size: abstracts.$h6-font-size;
    }
  }

  .list-edit {
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .edit-button {
    color: map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
  }

  .edit-button:hover {
    color: map.get(map.get(abstracts.$highlight-colors, "yellow"), "hover");
  }

  .delete-button {
    color: map.get(map.get(abstracts.$highlight-colors, "pink"), "default");
  }

  .delete-button:hover {
    color: map.get(map.get(abstracts.$highlight-colors, "pink"), "hover");
  }

  .list-styles {
    display: flex;
    gap: 15px;
    align-items: center;

    * {
      display: flex;
      align-items: center;
    }
  }
}
