@use "sass:map";
@use "../abstracts" as abstracts;

.profile-settings {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  padding: 20px 40px;
  width: fit-content;
  width: 100%;

  textarea {
    resize: none;
  }
}

.profile-settings-left {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  .profile-picture {
    width: 125px;
    height: auto;
    stroke-width: 1.5px;
    color: grey;
    margin: auto;
  }

  .submit-button {
    width: 100%;
    margin-top: 20px;
    text-align: right;

    button {
      max-width: fit-content;
    }
  }
}

.profile-settings-right {
  min-width: 100%;
}

.profile-settings-social-media {
  display: grid;
  align-items: center;
  gap: 5px;

  .social-media-row {
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }

  .pink > svg {
    color: map.get(map.get(abstracts.$highlight-colors, "pink"), "default");
  }

  .yellow > svg {
    color: map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
  }

  .cyan > svg {
    color: map.get(map.get(abstracts.$highlight-colors, "cyan"), "default");
  }
}

.profile-settings-wrapper {
  display: flex;
  flex-direction: column;

  label {
    min-width: 100%;
    font-size: abstracts.$h5-font-size;
    font-family: abstracts.$default-title-font;
    font-weight: 400;
    letter-spacing: -0.025rem;
  }

  .profile-settings-input {
    display: inline-flex;
    align-items: center;
    gap: 5px;

    .password-input-wrapper {
      position: relative;

      input {
        padding-right: 40px;
      }
    }

    p,
    input,
    .password-input-wrapper {
      width: 100%;
    }

    button {
      max-width: fit-content;
      margin: 0;
    }
  }
}

.profile-settings-divider:not(:last-child) {
  border-bottom: 1px solid abstracts.$primary-darkgrey;
}

@media only screen and (max-width: abstracts.$medium-width) {
  .profile-settings {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .profile-settings-left {
    width: 100%;
    margin: auto;
    padding: 0;
  }
}
