@use "sass:map";
@use "../abstracts" as abstracts;

.admin-panel-content {
  flex: 1;
  padding: 40px 60px;
}

// Searchbar
.admin-searchbar {
  max-width: 200px;
  position: relative;
  border-radius: 40px;
  flex: 1;
  display: flex;
  margin-bottom: 10px;

  button:focus,
  input:focus {
    outline: 0;
    border: 0;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px 20px;
    background-color: abstracts.$primary-grey;
    border: 0;
    color: abstracts.$primary-light;
    border-radius: 20px;
  }

  input[type="text"]::placeholder {
    color: abstracts.$primary-light;
    opacity: 25%;
  }

  input[type="text"]:focus-within {
    outline: 2px solid map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
  }
}

// List of users
.admin-panel-user-wrapper {
  background-color: abstracts.$primary-grey;
  border-radius: abstracts.$default-border-radius;
  box-shadow: abstracts.$default-shadow;
}

.admin-panel-user-list {
  display: flex;
  border-bottom: 1px solid;
  border-color: abstracts.$primary-darkgrey;
  padding: 10px 20px;
  width: 100%;
  gap: 20px;
}

.admin-panel-left-side {
  display: grid;
  grid-template-columns: 90px 200px 150px;
  gap: 10px;

  & > * {
    align-content: center;
    min-width: fit-content;
  }

  svg {
    min-width: 80px;
    height: auto;
    stroke-width: 1.5px;
    color: grey;
  }

  svg:hover {
    color: darkgrey;
  }

  .suspended {
    color: map.get(map.get(abstracts.$highlight-colors, "pink"), "default");
  }

  .active {
    color: map.get(map.get(abstracts.$highlight-colors, "cyan"), "default");
  }

  .username {
    font-weight: 600;
  }
}

.admin-panel-right-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  * {
    max-width: 150px;
    width: 100%;
    text-wrap: nowrap;
  }

  div {
    margin-right: 4px;
  }
}

@media only screen and (max-width: abstracts.$large-width) {
  .admin-panel-content {
    padding: 20px;
  }

  .admin-panel-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: abstracts.$medium-width) {
  .admin-panel-user-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .admin-panel-left-side {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 0;
    margin-bottom: 20px;
    margin: auto;
  }
}

// Sidebar
.admin-panel-side-bar {
  display: grid;
  grid-template-columns: 1fr;

  *:not(.active-admin-link) {
    padding-left: 15px;
  }

  & > * {
    border-bottom: 1px solid abstracts.$primary-darkgrey;
    padding: 10px;
  }

  $total-colors: length(abstracts.$highlight-colors);

  @for $i from 1 through $total-colors {
    $color: nth(map-keys(abstracts.$highlight-colors), $i);
    $default-color: map-get(map-get(abstracts.$highlight-colors, $color), default);

    .active-admin-link:nth-child(#{$total-colors}n + #{$i}) {
      border-left: 5px solid $default-color;
    }
  }
}

@media only screen and (max-width: abstracts.$medium-width) {
  .admin-panel-side-bar {
    display: flex;
    width: 100%;

    & > * {
      flex: 1;
      border-bottom: 0;
      border-right: 1px solid abstracts.$primary-darkgrey;
    }
  }
}
