@use "../abstracts" as abstracts;

.home-content {
  padding: 10px 20px;
  display: grid;
}

.poster-list {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: space-between;
}

.poster {
  height: auto;
  width: 100%;
  box-shadow: abstracts.$default-shadow;
}

.poster:hover {
  transform: scale(105%);
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

.dropdown-button {
  display: flex;
  align-items: center;
  float: right;
  padding-bottom: 10px;
  justify-content: space-between;
  width: 200px;
  gap: 5px;
  margin-right: 4px;
}

.dropdown-menu {
  z-index: 100;
}
.dropdown-item {
  cursor: pointer;
}
