@use "sass:map";
@use "../abstracts" as abstracts;

.profile-settings {
  display: inline-flex;
  justify-content: flex-start;
  gap: 40px;
  padding: 20px 40px;
  width: 100%;

  textarea {
    resize: none;
  }
}

.profile-settings-left {
  flex: 1;
  max-width: 400px;

  & > svg {
    width: 100%;
  }
}

.profile-settings-right {
  flex: 1;
  max-width: 800px;
}

.profile-settings-social-media {
  display: grid;
  align-items: center;
  gap: 5px;

  .social-media-row {
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }

  .pink > svg {
    color: map.get(map.get(abstracts.$highlight-colors, "pink"), "default");
  }

  .yellow > svg {
    color: map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
  }

  .cyan > svg {
    color: map.get(map.get(abstracts.$highlight-colors, "cyan"), "default");
  }
}

.profile-settings-wrapper {
  display: flex;
  flex-direction: column;

  label {
    min-width: 100%;
    font-size: abstracts.$h5-font-size;
    font-family: abstracts.$default-title-font;
    font-weight: 400;
    letter-spacing: -0.025rem;
  }

  .profile-settings-input {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    input,
    p {
      width: 100%;
    }

    button {
      max-width: fit-content;
    }
  }
}

.profile-settings-divider {
  padding: 20px 0;
}

.profile-settings-divider:not(:last-child) {
  border-bottom: 1px solid abstracts.$primary-darkgrey;
}

@media only screen and (max-width: abstracts.$large-width) {
  .profile-settings {
    display: flex;
    flex-direction: column;
  }

  .profile-settings-left {
    width: 100%;
    max-width: 500px;
    margin: auto;
    flex: 0;
  }
}

.profile-settings-modal-content {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  min-height: 100%;
  margin-bottom: 25%;
}

.profile-settings-modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
