@use "sass:map";

@use "../abstracts/" as abstracts;

// Titles
h1,
h2,
h3,
h4,
h5 {
  font-family: abstracts.$default-title-font;
  letter-spacing: abstracts.$title-letter-spacing;
}

h1 {
  font-size: abstracts.$h1-font-size;
  line-height: abstracts.$default-line-height;
  font-weight: 400;
}

h2 {
  font-size: abstracts.$h2-font-size;
  line-height: abstracts.$default-line-height;
  font-weight: 400;
  letter-spacing: 0;
}

h3 {
  font-size: abstracts.$h3-font-size;
  line-height: abstracts.$default-line-height;
  font-weight: 300;
}

h4 {
  font-size: abstracts.$h4-font-size;
  line-height: abstracts.$default-line-height;
  font-weight: 300;
}

h5 {
  font-size: abstracts.$h5-font-size;
  line-height: abstracts.$default-line-height;
  font-weight: 400;
  letter-spacing: 0;
}

// Links
a {
  font-family: abstracts.$default-title-font;
  font-size: abstracts.$a-font-size;
  font-weight: 300;
  color: abstracts.$primary-light;
}

a:hover {
  color: rgba(abstracts.$primary-light, 0.75);
}

// .highlight-nav: colorful hover using highlight colors for when there is more than 1 link
$total-colors: length(abstracts.$highlight-colors);

@for $i from 1 through $total-colors {
  $color: nth(map-keys(abstracts.$highlight-colors), $i);
  $default-color: map-get(map-get(abstracts.$highlight-colors, $color), default);

  .highlight-nav > a:nth-child(#{$total-colors}n + #{$i}) {
    &:hover {
      color: $default-color;
    }
  }
}

// Body text
p,
.description {
  font-family: abstracts.$default-text-font;
  font-size: abstracts.$p-font-size;
  line-height: abstracts.$default-line-height;
  letter-spacing: abstracts.$text-letter-spacing;
}

p {
  font-weight: 400;
}

.description {
  font-weight: 300;
  font-style: italic;
}
