@use 'sass:map';

@use '../abstracts' as abstracts;

button {
  font-family: abstracts.$default-text-font;
  font-size: abstracts.$p-font-size;
  line-height: abstracts.$p-font-size * abstracts.$line-height;
  font-weight: 400;
  color: abstracts.$primary-light;
}

button {
  background-color: map.get(abstracts.$highlight-colors, "yellow");
  border: 0;
  border-radius: 25px;
  padding: 5px 15px;
  cursor: pointer;
  color: abstracts.$primary-dark;
}

button:hover {
  background-color: map.get(abstracts.$highlight-hover-colors, "yellow");
}

.button-pink {
  background-color: map.get(abstracts.$highlight-colors, "pink");
}

.button-pink:hover {
  background-color: map.get(abstracts.$highlight-hover-colors, "pink");
}

.button-cyan {
  background-color: map.get(abstracts.$highlight-colors, "cyan");
}

.button-cyan:hover {
  background-color: map.get(abstracts.$highlight-hover-colors, "cyan");
}
