@use "../abstracts" as abstracts;
@use "sass:map";

input,
textarea {
  font-family: abstracts.$default-text-font;
  font-size: abstracts.$p-font-size;
  line-height: abstracts.$default-line-height;
  font-weight: 400;
  letter-spacing: abstracts.$text-letter-spacing;

  border-radius: abstracts.$default-border-radius;
  border: abstracts.$default-border;
  background-color: abstracts.$primary-light;

  width: 100%;
}

input {
  padding: 10px 15px;
  margin-top: 10px;
}

textarea {
  padding: 15px;
}
input:focus,
textarea:focus {
  outline: 1px rgba(abstracts.$primary-light, 0.25) solid;
}

label {
  font-weight: 600;
  font-family: abstracts.$default-title-font;
}
.error-text {
  color: map.get(map.get(abstracts.$highlight-colors, "pink"), "default");
}

form {
  width: 50%;
  padding: 50px;
  background-color: abstracts.$primary-grey;
}

.login-submit {
  width: 100%;
  font-weight: 600;
  font-size: 1.25rem;
  font-family: abstracts.$default-title-font;
  margin-top: 25px;
  margin-bottom: 25px;
}

.loginForm {
  display: grid;
  justify-items: center;
}
.loginText {
  text-align: center;
  font-weight: 600;
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  background-color: abstracts.$primary-dark;
}
.login-route-change {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.login-form-group-icon {
  position: absolute;
  background-color: inherit;
  right: 10px;
  top: 12px;
}
.login-form-group-icon:hover {
  background-color: inherit
}
.login-form-group {
  position: relative;
}
