@use "../abstracts" as abstracts;

.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;

  img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border: 1px solid abstracts.$primary-dark;
    box-shadow: abstracts.$default-shadow;
  }

  img:hover {
    transform: scale(105%);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
  }
}

@media only screen and (max-width: abstracts.$large-width) {
  .movie-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
