@use "../abstracts/" as abstracts;

.section {
  width: 100%;
  margin: auto auto 20px auto;

  box-shadow: abstracts.$default-shadow;

  border: 1px solid abstracts.$primary-dark;
  border-radius: abstracts.$default-border-radius;
}

.section-header {
  background-color: abstracts.$primary-darkgrey;
  padding: 10px 15px;
}

.section-content {
  background-color: abstracts.$primary-grey;
  padding: 15px;
}
