@use "../abstracts/" as abstracts;

.section {
  width: 100%;
  margin: auto;
  overflow: hidden;
  min-height: fit-content;

  box-shadow: abstracts.$default-shadow;

  border: 1px solid abstracts.$primary-dark;
  border-radius: abstracts.$default-border-radius;

  .section {
    height: 100%;
  }
}

.section-header {
  background-color: abstracts.$primary-darkgrey;
  padding: 10px 15px;
}

.section-content {
  background-color: abstracts.$primary-grey;
  padding: 15px;
}
