@use "../abstracts/" as abstracts;

.sidebar {
  width: fit-content;
  background-color: abstracts.$primary-grey;
  min-height: 100%;

  .sidebar-header {
    background-color: abstracts.$primary-darkgrey;
    display: inline-flex;
    align-items: center;

    width: 100%;
    height: 40px;
    padding: 0px 10px;

    line-height: 0;
  }

  .sidebar-header--right {
    justify-content: flex-end;
  }
}
