@use "../abstracts/" as abstracts;

.custom-toastify {
  border: 1px solid abstracts.$primary-dark;
  box-shadow: abstracts.$default-shadow;
  background-color: abstracts.$primary-darkgrey !important;
  color: abstracts.$primary-light !important;

  svg {
    color: white !important;
  }

  button {
    margin: 0;
  }

  button:hover {
    background-color: transparent;
  }
}
