@use "sass:map";
@use "../abstracts" as abstracts;

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;

  font-family: abstracts.$default-text-font;
  font-size: abstracts.$p-font-size;
  line-height: abstracts.$default-line-height;
  font-weight: 400;
  letter-spacing: abstracts.$text-letter-spacing;

  border-radius: abstracts.$default-border-radius;
  border: abstracts.$default-border;
  background-color: abstracts.$primary-light;
}

input::placeholder,
textarea::placeholder {
  font-family: abstracts.$default-text-font;
  font-size: abstracts.$p-font-size;
  line-height: abstracts.$default-line-height;
  font-weight: 400;
  letter-spacing: abstracts.$text-letter-spacing;
  color: abstracts.$primary-dark;
  opacity: 75%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  padding: 5px 10px;
}

input[type="password"] {
  padding-right: 40px;
}

textarea {
  padding: 10px;
}

input:focus-visible {
  border: 0;
  outline: 2px solid map-get(map-get(abstracts.$highlight-colors, "yellow"), "default");
  outline-offset: 2px;
}

input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
input[type="email"]:focus-visible,
input[type="number"]:focus-visible,
textarea:focus-visible {
  border: 1px solid map-get(map-get(abstracts.$highlight-colors, "yellow"), "default");
  outline: 1px solid map-get(map-get(abstracts.$highlight-colors, "yellow"), "default");
  outline-offset: 0px;
}

label {
  margin: 5px 0;
}

.label-row {
  display: flex;
  align-items: center;
  gap: 4px;
}

input[type="radio"],
input[type="checkbox"],
input[type="range"] {
  padding: 0;
  margin: 0;
}

// Radio button
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: abstracts.$primary-light;
  min-width: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid abstracts.$primary-dark;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 10px 10px map-get(map-get(abstracts.$highlight-colors, "pink"), "default");
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

// Checkbox
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: abstracts.$primary-light;
  min-width: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid abstracts.$primary-dark;
  border-radius: 4px;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 10px 10px map-get(map-get(abstracts.$highlight-colors, "pink"), "default");
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1.2);
}

// Range
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  border: 0;
  border-radius: abstracts.$default-border-radius;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #808080;
  height: 10px;
  border-radius: abstracts.$default-border-radius;
}

input[type="range"]::-moz-range-track {
  background: #808080;
  height: 10px;
  border-radius: abstracts.$default-border-radius;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -5px;
  background-color: map-get(map-get(abstracts.$highlight-colors, "yellow"), "default");
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  background-color: map-get(map-get(abstracts.$highlight-colors, "yellow"), "default");
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.error-text {
  color: map.get(map.get(abstracts.$highlight-colors, "pink"), "default");
}

.form {
  padding: 25px;
  background-color: abstracts.$primary-grey;
  display: grid;
}

.form-submit {
  font-weight: 600;
  font-size: 1.25rem;
  font-family: abstracts.$default-title-font;
  margin-top: 25px;
  margin-bottom: 25px;
}

.form-main {
  display: grid;
  justify-items: center;
}

.section-wrapper {
  margin-top: 20px;
  min-width: 50%;
}

.form-main-text {
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-route-change {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  a {
    text-decoration: underline;
  }
  p {
    font-family: abstracts.$default-title-font;
    font-size: abstracts.$a-font-size;
    font-weight: 300;
    color: abstracts.$primary-light;
    padding: 0.2em 0.6em;
  }
}

.form-group-icon {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  height: 100%;
  padding: 10px;

  svg {
    color: map.get(map.get(abstracts.$highlight-colors, "pink"), "default");
  }
}

.form-group-icon:hover {
  background-color: inherit;
}

.form-group {
  position: relative;
}
