@use "sass:map";
@use "../abstracts/" as abstracts;

.header-searchbar {
  max-width: 600px;
  position: relative;
  border-radius: 40px;
  background-color: rgba(abstracts.$primary-light, 0.1);
  flex: 1;
  display: flex;

  input[type="text"] {
    outline: 0;
    border: 0;
    width: calc(100% - 30px);
    padding: 0px 20px;
    background-color: transparent !important;
    border: 0;
    color: abstracts.$primary-light;
  }

  input[type="text"]::placeholder {
    color: abstracts.$primary-light;
    opacity: 25%;
  }

  button:focus,
  input[type="text"]:focus {
    outline: 0;
    border: 0;
  }

  button:focus-visible {
    outline: 2px solid map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
    outline-offset: 2px;
  }
}

.header-searchbar:focus-within {
  outline: 2px solid map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
}

.header-searchbar:has(button:focus) {
  outline: 0;
}

.searchbar-icon {
  color: map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
}

.header-searchbar > button {
  border-radius: 4px 20px 20px 4px;
  padding: 0 10px;
}

@media only screen and (max-width: abstracts.$large-width) {
  .header-searchbar {
    width: 100%;
  }
}

.searchbar-results {
  position: absolute;
  width: 100%;
  top: 45px;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 11;
  border: 1px solid abstracts.$primary-dark;
  border-radius: abstracts.$default-border-radius;
  overflow: hidden;

  .movie-result {
    border-bottom: 1px solid abstracts.$primary-dark;
    background-color: abstracts.$primary-darkgrey;
    color: abstracts.$primary-light;

    border-radius: 0;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;

    .result-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 10px;
    }

    img {
      object-fit: cover;
    }
  }

  .movie-result:hover {
    background-color: abstracts.$primary-grey;
  }

  .movie-result:focus {
    background-color: map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
    color: abstracts.$primary-dark;
    outline: 0;
    border-bottom: 1px solid abstracts.$primary-dark;
  }

  .searching-results {
    border-bottom: 1px solid abstracts.$primary-dark;
    background-color: abstracts.$primary-darkgrey;
    color: abstracts.$primary-light;
    padding: 10px;
  }

  .searchbar-page-link {
    background-color: map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
    color: abstracts.$primary-dark;
    padding: 10px;
    border-radius: 0;
    margin: 0;
    text-align: left;
  }

  .searchbar-page-link:hover {
    background-color: map.get(map.get(abstracts.$highlight-colors, "yellow"), "hover");
  }

  .searchbar-page-link:focus {
    background-color: map.get(map.get(abstracts.$highlight-colors, "yellow"), "hover");
    outline: 0;
  }
}
