@use "sass:map";
@use "../abstracts" as abstracts;

.rotating-star {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    animation: spin 4s linear infinite;
    fill: map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
    color: map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}

.rotating-star-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  svg {
    width: 50px;
    height: 50px;
    animation: spin 4s linear infinite;
    fill: map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
    color: map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}
