@use "sass:map";
@use "../abstracts" as abstracts;

.modal-background {
  display: flex;
  position: fixed;
  background-color: rgba(abstracts.$primary-dark, 0.75);
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.modal-box {
  background-color: abstracts.$primary-grey;
  border-radius: abstracts.$default-border-radius;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: white;
  width: 700px;
  min-height: fit-content;
  box-shadow: abstracts.$default-shadow;

  a {
    padding: 0;
  }
}

.modal-title {
  background-color: abstracts.$primary-darkgrey;
  display: flex;
  justify-content: flex-end;
  padding: 5px;

  & > button {
    margin: 0;
  }
  & > svg {
    cursor: pointer;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 20px 10px;
}

.modal-footer {
  background-color: abstracts.$primary-darkgrey;
  display: flex;
  justify-self: flex-end;
  padding: 10px;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

@media only screen and (max-width: abstracts.$medium-width) {
  .modal-box {
    width: 100vw;
    margin: 20px;
  }
}
