@use "sass:map";
@use "../abstracts/" as abstracts;

.profile-info {
  padding: 40px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .profile-picture {
    width: 125px;
    height: auto;
    stroke-width: 1.5px;
  }

  h2 {
    line-height: 1.4rem;
    word-break: break-all;
  }

  h6 {
    padding: 4px 0;
  }

  hr {
    width: 100%;
    border: 0;
    border-bottom: 1px solid abstracts.$primary-dark;
  }

  .full-width {
    width: 100%;
  }

  .profile-description {
    margin: 0;
    white-space: pre-line;
    word-wrap: break-word;
    height: fit-content;
    max-height: 300px;
    overflow-x: auto;
  }

  .profile-social-media {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
    width: 100%;
    margin-top: 5px;

    div {
      display: inline-flex;
      gap: 4px;
      align-items: center;
      line-break: anywhere;

      svg {
        width: 24px;
        height: auto;
      }
    }
  }

  .profile-friend-list {
    width: 100%;
    margin-top: 20px;

    .friends-title {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;
    }

    .friends-wrapper {
      display: grid;
      gap: 6px;
      grid-template-columns: repeat(5, 1fr);

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        aspect-ratio: 1;
        border-radius: 100%;
        margin: 0;
        padding: 0;
      }

      .button-friend {
        background-color: grey;
      }

      .button-friend:hover {
        background-color: rgb(105, 105, 105);
        transform: scale(105%);
      }

      .button-friend-mutual {
        background-color: map-get(map-get(abstracts.$highlight-colors, "cyan"), "default");
        color: abstracts.$primary-darkgrey;
      }

      .button-friend-mutual:hover {
        background-color: map-get(map-get(abstracts.$highlight-colors, "cyan"), "hover");
        transform: scale(105%);
      }
    }
  }
}

@media only screen and (max-width: abstracts.$medium-width) {
  .profile-info {
    width: 100%;
    gap: 10px;

    .profile-friend-list {
      .friends-wrapper {
        grid-template-columns: repeat(8, 1fr);
      }
    }
  }
}
