@use "../abstracts/" as abstracts;

.profile-info {
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .profile-picture {
    min-width: 150px;
    height: auto;
    stroke-width: 1.5px;
    color: grey;
  }

  h2 {
    line-height: 1.4rem;
    word-break: break-all;
    width: 100%;
  }

  h6 {
    padding: 4px 0;
  }

  hr {
    width: 100%;
    border: 0;
    border-bottom: 1px solid abstracts.$primary-dark;
  }

  .full-width {
    width: 100%;
  }

  .profile-description {
    margin: 0;
    white-space: pre-line;
  }

  .profile-social-media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    margin-top: 5px;

    div {
      display: inline-flex;
      gap: 6px;
      align-items: center;
      line-break: anywhere;
      svg {
        min-width: 24px;
        height: auto;
      }
    }
  }

  .profile-friend-list {
    width: 100%;
    margin-top: 20px;

    .friends-title {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;
    }

    .friends-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .button-friend {
        background-color: grey;
        padding: 0;
        margin: 2px;
        aspect-ratio: 1;
        border-radius: 50px;
      }

      .button-friend:hover {
        background-color: rgb(105, 105, 105);
        transform: scale(105%);
      }
    }
  }
}

@media only screen and (max-width: abstracts.$medium-width) {
  .profile-info {
    width: 100%;
    gap: 10px;

    .profile-social-media {
      grid-template-columns: repeat(3, 1fr);
    }

    .profile-friend-list {
      .friends-wrapper {
        grid-template-columns: repeat(8, 1fr);
      }
    }
  }
}
