@use "../abstracts/" as abstracts;

.review-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}
.review-grid-item {
  min-height: 300px;
  max-height: 300px;
  border: 1px solid abstracts.$primary-dark;
  box-shadow: abstracts.$default-shadow;
}

.review-grid-modal-item {
  min-height: 300px;
  max-height: 300px;
  overflow-y: auto;

}

.review-grid-content {
  min-height: 150px;
  max-height: 150px;
  margin: 10px;
}

@media only screen and (max-width: abstracts.$medium-width) {
  .review-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
