@use "sass:map";
@use "../abstracts/" as abstracts;

.review-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}
.review-grid-item {
  min-height: 300px;
  max-height: 300px;
  border: 1px solid abstracts.$primary-dark;
  box-shadow: abstracts.$default-shadow;
}

.review-grid-modal-item {
  min-height: 300px;
  max-height: 300px;
  overflow-y: auto;
}

.review-grid-content {
  min-height: 183px;
  margin: 10px;
}
.review-grid-footer-primary {
  display: flex;
  align-items: center;
  min-height: 40px;
  background-color: map-get(map-get(abstracts.$highlight-colors, "yellow"), "default");

}
.review-grid-footer-secondary {
  display: flex;
  align-items: center;
  min-height: 40px;
  background-color: abstracts.$primary-dark;

}

@media only screen and (max-width: abstracts.$medium-width) {
  .review-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
