@use "sass:map";
@use "../abstracts" as abstracts;

.star-rating {
  display: inline-flex;
  align-items: center;
  gap: 0;

  .star-rating-button {
    display: flex;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }

  .selected {
    stroke: map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
    fill: map.get(map.get(abstracts.$highlight-colors, "yellow"), "default");
  }

  .selected:hover {
    transform: scale(1.1);
    transition: 0.1s;
    transition-timing-function: ease-in-out;
  }

  .not-selected {
    stroke: abstracts.$primary-light;
    fill: abstracts.$primary-light;
  }
}
