@use "../abstracts/" as abstracts;

footer {
  background-color: abstracts.$primary-dark;
  padding: 10px;
  width: 100%;

  .content {
    display: flex;
    width: fit-content;
    align-items: center;
    margin: auto;
    gap: 20px;

    a {
      display: flex;
      align-items: center;
    }
  }
}
