$primary-dark: #2A2B2A;
$primary-darkgrey: #383838;
$primary-grey: #444444;
$primary-light: #EFF2F2;

$highlight-colors: (
"pink": #D75EB5,
"yellow": #FFC700,
"cyan": #74CCCA,
);

$highlight-hover-colors: (
"pink": #CC1A9B,
"yellow": #DEA000,
"cyan": #07AEAA,
);
