$primary-dark: #2a2b2a;
$primary-darkgrey: #383838;
$primary-grey: #444444;
$primary-light: #eff2f2;

$highlight-colors: (
  "pink": #d75eb5,
  "yellow": #ffc700,
  "cyan": #74ccca,
);

$highlight-hover-colors: (
  "pink": #cc1a9b,
  "yellow": #dea000,
  "cyan": #07aeaa,
);
