@use "./colors" as colors;

// Screen width for responsivity
$small-width: 480px;
$medium-width: 768px;
$large-width: 1024px;

// Borders and shadows
$default-border: 1px solid colors.$primary-darkgrey;
$default-border-radius: 4px;

$default-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);

// Titles and texts
$default-title-font: var(--font-poppins);
$default-text-font: var(--font-roboto);

$default-line-height: 1.6;

$title-letter-spacing: -0.05rem;
$text-letter-spacing: 0.02rem;

$h1-font-size: 4rem;
$h2-font-size: 2.25rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 0.95rem;

$p-font-size: 0.8rem;
$a-font-size: 0.8rem;

// Pages
$default-page-margin: 40px;

// Toastify
:root {
  --toastify-color-light: abstracts.$primary-light !important;
  --toastify-color-dark: abstracts.$primary-darkgrey !important;
  --toastify-color-info: #ffc700 !important;
  --toastify-color-success: #74ccca !important;
  --toastify-color-warning: #d75eb5 !important;
  --toastify-color-error: #d75eb5 !important;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-text-color-light: abstracts.$primary-dark;
  --toastify-text-color-dark: abstracts.$primary-light !important;

  --toastify-color-progress-light: none;

  --toastify-color-progress-light: #ffc700 !important;
  --toastify-color-progress-dark: #ffc700 !important;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  --toastify-color-progress-bgo: 0.2;
}
